body {
    font-family: "Roboto", sans-serif;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.one {
    color: #434455;
    background-color: #FFFFFF;
}

/* -------------HEDER -------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-grey {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item{

}

.header-menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.address-menu-link:hover {
    color: #404bbf;
}

.address-menu-link:focus {
    color: #404bbf;
}

.header-menu-link-box{

}

/* --------------------------------- */

.container-address {}

.address {
    font-style: normal;


}

.address-menu-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
}

.address {}

.address-menu-list {}

.address-menu-item {}

.address-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------- section one-------------- */

.section-solutions {
    background: #2E2F42;
    padding: 188px 0;
}

.container-solutions {
    
}

.solutions-head {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

/* --------- section two-------------- */

.section-feactures {
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feactures-head,
.feactures-team,
.portfolio-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.feactures-list {
    display: flex;
    gap: 24px;
}

.feactures-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feactures-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.feactures-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --------- section 3-------------- */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.feactures-team{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-img {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;   
}

.team-text-one{
    padding: 32px 0;
}



.section-portfolio {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
}

.portfolio-head {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    text-align: 16px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.portfolio-text-one{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* ------THE END------- */

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container{
   
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}